pyrogram==2.0.106  # Switch to official Pyrogram version
tgcrypto==1.2.5    # Update to latest version
pymongo[srv]==4.8.0
motor==3.6.0
marshmallow==3.22.0
umongo==3.2.0
telegraph==2.2.0
googletrans==4.0.0-rc1
gTTS==2.5.4
aiohttp==3.10.8
aiofiles==24.1.0
requests==2.32.4
pyshorteners==1.0.1
bs4==0.0.2
imdbpy==2022.7.9
youtube-search-python==1.6.6
youtube_search==2.1.2
yt-dlp==2024.10.22
wget==3.2
python-arq==7.2
ffmpeg-python==0.2.0
ytthumb==2.1.3
